*/5 * * * * TRITON_C_SERVER=TRUE python3 /app/collect_WEC_data.py >> /var/log/cron.log 2>&1
*/30 * * * * TRITON_C_SERVER=TRUE python3 /app/collect_spectra_data.py >> /var/log/cron.log 2>&1
*/30 * * * * TRITON_C_SERVER=TRUE python3 /app/build_visualizations.py >> /var/log/cron.log 2>&1

