*/5 * * * * TRITON_C_SERVER=TRUE python3 /app/collect_WEC_data.py
*/30 * * * * TRITON_C_SERVER=TRUE python3 /app/collect_spectra_data.py
*/30 * * * * TRITON_C_SERVER=TRUE python3 /app/build_visualizations.py

